@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

footer {
    background: var(--fondo);
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    font-size: 1.5rem;
    color: var(--blanco);
    margin-top: .3rem;
}