@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --negro: #000000;
    --blanco: #FFFFFF;
    --fondo: #ff933b;
    --fuente: 'Quicksand'
}

#logo {
    height: 8rem;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--fuente), 'sans-serif';
}

#header-sanjuan {
    color: white;
    font-family: var(--fuente), sans-serif;
    font-weight: lighter;
    background: var(--fondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

#header-sanjuan>ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 25px;
}

.header-dir {
    color: var(--negro);
    font-size: 1.25rem;
}